table {
  width: 70%;
}

.cardtable {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card {
  border-radius: 20px;
}

.tree {
  width: 40%;
}
